.header {
  font-size: min(3rem, max(7vw, 2rem));
  font-weight: 500;
  letter-spacing: 0.05em;
}

.subHeader {
  font-size: min(2.5rem, max(6vw, 1.5rem));
  font-weight: 350;
  padding-left: min(5rem, 20vw);
}

.description {
  font-size: min(1.2rem, max(3.5vw, 1rem));
  font-weight: 300;
  padding-top: min(2rem, 5vw);
  max-width: max(30rem, 40vw);
}

.link {
  font-size: min(1.2rem, max(3.5vw, 1rem));
  font-weight: 450;
  letter-spacing: 0.2em;
  display: inline-block;
  background: linear-gradient(to bottom, #238aff, #0077ff);
  text-decoration: none;
  border-radius: 9999px;
  color: white;
  padding: 0.75rem 1.5rem;
  margin-top: 0.5rem;
  text-shadow: 0 1px 1px #00387838;
  box-shadow: 0 1px 2px #00295738;
  transition: all 0.2s ease;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.link:hover {
  box-shadow: 0 5px 30px -10px #0078ffab;
  filter: brightness(1.05);
}

.link:active {
  box-shadow: 0 1px 3px #00295738;
  filter: brightness(0.95);
}

.link:focus-visible {
  outline: 2px solid hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 77%);
  outline-offset: 2px;
}

.link span {
  display: inline-block;
  transition: all 0.2s ease;
}

.link:hover span {
  transform: translateX(5px);
}

.link:focus-visible {
  transform: translateX(3px);
}
